html, body {
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1424px;
  padding: 0 32px;
  margin: 0 auto;
}

.btn {
  padding: 0;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.0255rem;
  line-height: 1.29;
  text-decoration: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 21px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: background-color 0.3s linear, color 0.3s linear,
    border-color 0.3s linear;
  border: 1px solid #fff;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #252444;
  }
}

.icon-phone {
  display: block;
  background-image: url('assets/svg/phone.svg');
  width: 50px;
  height: 50px;
}

.icon-location {
  display: block;
  background-image: url('assets/svg/location.svg');
  width: 50px;
  height: 50px;
}