<template>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <a href="" class="logo">
          <img src="../assets/img/logo.png" alt="" />
        </a>
        <div class="header__nav">
          <div class="header__top">
            <div class="contact">
              <i class="icon-phone"></i>
              8 977 777 77 77 </div>
            <div class="contact">
              <i class="icon-location"></i>
              г. Махачкала,<br/> ул. Комарова 22</div>
            <a class="btn" href="">Заказать звонок</a>
          </div>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <nuxt-link class="menu__link" to="/">О КОМПАНИИ</nuxt-link>
              </li>
              <li class="menu__item">
                <nuxt-link class="menu__link" to="/">ПРОДУКЦИЯ</nuxt-link>
              </li>
              <li class="menu__item">
                <nuxt-link class="menu__link" to="/">УСЛУГИ</nuxt-link>
              </li>
              <li class="menu__item">
                <nuxt-link class="menu__link" to="/">ПРОЕКТЫ</nuxt-link>
              </li>
              <li class="menu__item">
                <nuxt-link class="menu__link" to="/"
                  >ПОЛЕЗНАЯ ИНФОРМАЦИЯ</nuxt-link
                >
              </li>
              <li class="menu__item">
                <nuxt-link class="menu__link" to="/">КОНТАКТЫ</nuxt-link>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
}
</script>
