.header {
  background-color: #252444;
  &__inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px 0;
  }
  &__nav {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  margin-top: 40px;
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    color: #fff;
    text-decoration: none;
  }
}

.contact {
  font-size: 20px;
  display: flex;
  align-items: center;

  i {
    margin-right: 12px;
  }
}